<template>
  <div class="home">
    <header class="header">
      <div class="header__title">
        <div class="header__title--title">
          <h1>Comic # {{ this.idComic }} - {{ data.title }}</h1>
        </div>
        <div >
          <span class="header__title--subtitle"
            >Posted on : {{ data.day }} - {{ getMonth }} - {{ data.year }}
          </span>
        </div>
      </div>
    </header>
    <main class="container--main">
      <section class="container--image">
        <div class="container--image_buttons">
          <button type="submit" @click="searchComic(-1)" class="button">
            &#60; PREVIOUS
          </button>
          <button class="button" @click="searchComic(1)">NEXT &#62;</button>
        </div>
        <div class="container_image">
          <img class="container_image--img" :src="data.img" :alt="data.alt" />
        </div>
      </section>
      <section class="container">
        <div class="container_raiting">
          <p class="container_raiting--text">Raiting comic</p>
          <star-rating
            class="container_raiting--star"
            v-model="ratedSelected"
            inactive-color="#DCDCF0"
            active-color="#dde655"
            :star-size="30"
            :show-rating="false"
            :active-on-click="true"
            @rating-selected="setRating"
          ></star-rating>
          <span> Your rated is {{ ratedSelected }} stars</span>
        </div>
        <div class="container_comments">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            v-model="commentsRated"
            placeholder="Add your comments"
          ></textarea>
          <label v-if="!isValid">Please select a rating and add a comment.</label>
          <button class="button" type="submit" @click="saveRated()">
            Add Rating
          </button>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import api from "@/api/apiComic.js";
import StarRating from "vue-star-rating";
export default {
  name: "Home",
  components: {
    StarRating,
  },
  data() {
    return {
      data: {},
      ratedSelected: 0,
      commentsRated: "",
      idComic: 0,
      isValid: true,
    };
  },
  created() {
    this.showComic();
  },
  computed: {
    getMonth() {
      const monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      return monthNames[this.data.month - 1];
    },
    getNumberRandom() {
      const num = Math.floor(Math.random() * 1000) + 1;
      return num;
    },
  },
  methods: {
    showComic() {
      const numberRandom = this.getNumberRandom;
      this.idComic = numberRandom;
      api.getComic(this.idComic).then((comic) => (this.data = comic.data));
    },
    setRating(rating) {
      this.ratedSelected = rating;
    },
    searchComic(to) {
      const idNumberComic = this.idComic + to;

      api
        .getComic(idNumberComic)
        .then((comic) => {
          this.data = comic.data;
          this.idComic = idNumberComic;
        })
        .catch((error) => {
          console.log("hay un error" + error);
        });
    },
    saveRated() {
      if(this.ratedSelected>0 && this.commentsRated.length>0){
        alert(
          `this information should go to a database.  rated: ${this.ratedSelected}  comments: ${this.commentsRated}`
        );
        this.isValid = true;
        this.ratedSelected = 0;
        this.commentsRated = "";
      }else{
        this.isValid = false;
      }
    },
  },
};
</script>

<style>
.home {
  width: 80%;
  margin: 0 auto;
  background: rgba(100, 100, 100, 0.137);
  border-radius: 10px;
  margin-top: 10px;
}
.header {
  width: 100%;
  text-align: center;
}
.header .header__title {
  padding-bottom: 6px;
  background-color: rgb(19 11 105);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #e7e7e7;
  height: 68px;;
}
.header .header__title > div {
  height: 35px;
}
.header .header__title .header__title--title{
  
  padding-top: 10px;
  font-size: 10px;

}
.header .header__title .header__title--subtitle{
  font-style: italic;
  font-size: 12px;
}
.container--main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: inherit;
}
.container--main .container_image {
  padding: 6px;
  border: 2px solid #737373;
  background: #f0f0f0;
  box-shadow: 3px 4px 11px #353474;
}
.container--main .container--image {
  padding: 20px;
}
.container_image--img {
  width: 420px;
}
.container--main .container--image .container--image_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 25px;
}
.container--main .container {
  width: 300px;
  padding: 20px;
  margin: 25px;
  border: 1px solid #cccccc;
  box-shadow: 3px 4px 11px #353474;
  background: #ffffff;
}
.container--main .container_comments {
  display: flex;
  flex-direction: column;
}
.container_raiting p {
  padding: 0;
  margin: 0;
}
.button {
  padding: 5px;
  padding-bottom: 8px;
  padding-top: 9px;
  width: 120px;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  background: #152c6d;
  color: #dadada;
  font-size: 11px;
  font-weight: bolder;
  cursor: pointer;
}
.button:hover {
  background: #122763;
  color: #dddada;
}
.container .container_raiting .container_raiting--text {
  padding-left: 5px;
  font-size: 25px;
  color: #424242;
  font-weight: 520;
  margin-bottom: 10px;
}
.container .container_raiting span {
  font-size: 11px;
  color: #707070;
  letter-spacing: 1px;
}
.container .container_comments textarea {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #d4d4d444;
  padding: 1px;
}
.container .container_raiting span {
  font-size: 11px;
  color: #707070;
  letter-spacing: 1px;
}
.container .container_comments label {
  color: rgb(202, 12, 12);
  font-size: 11px;
  margin-bottom: 15px;
  margin-left: 5px;
}
@media (max-width: 600px) {
  .home {
    width: 98%;
    
  }
  .container--main .container--image{
    padding: 0;
  }
  .container_image .container_image--img{
    width: 280px;
  }
 }
</style>
